<div class="container mt-3">
    <h2>To Array</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p class="bg-light px-3 py-3 border rounded">
                Example 1
            </p>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <p class="bg-light px-3 py-3 border rounded">
                Example 2
            </p>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <p class="bg-light px-3 py-3 border rounded">
                Example 3
            </p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>