<div class="container mt-3" >
    <h2>Take,TakeLast and TakeUntil</h2>
    <br>
    <p class="bg-light px-3 py-3 border rounded">
        <strong>Random Name: </strong>['Anup','Shekhar','John','Robert','Ravi']
    </p>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01 | Take(4)</strong>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-02 | TakeLast(4)</strong>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-01 | TakeUntil(4)</strong>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>