<div class="container mt-3">
    <h2>Map</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01</strong>
            <p class="bg-light px-3 py-3 border rounded">
                <strong>Data: </strong>"Video "+ data
            </p>
            <hr>
            <p>Message <strong class="text-success">{{msg1}}</strong></p>

        </div>
        <div class="col-md-4">
            <strong>Ex-02</strong>
            <p class="bg-light px-3 py-3 border rounded">
                <strong>Data: </strong>data=>(data*10)
            </p>
            <hr>
            <p>Message <strong class="text-success">{{msg2}}</strong></p>

        </div>
        <div class="col-md-4">
            <strong>Ex-03</strong>
            <p class="bg-light px-3 py-3 border rounded">
                <strong>Data: </strong>Map object data
            </p>
            <hr>
            <ul id="elContainer"></ul>
            
        </div>
    </div>
</div>
